* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background: lightcyan;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bmicontainer {
    min-width: 350px;
    min-height: 350px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 10px 15px 15px rgb(156, 239, 239);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}